<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Email</title>
	<link rel="stylesheet" href="/stylesheets/email.css">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Email</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" href="#">Profile <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Support</a>
            </li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item ">
                <a class="nav-link" href="#">Older<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search Mail" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    <div class="wrapper">
        <div class="sidebar">
            
            <ul>
                <li><button class= "btn btn-light btn-lg" id="compose"><i class="fas fa-plus"></i>Compose</button></li>
                <li><a href="#"><i class="fas fa-inbox"></i>Inbox</a></li>
                <li><a href="#"><i class="fas fa-star"></i>Starred</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>Snoozed</a></li>
                <li><a href="#"><i class="fas fa-share-square"></i>Sent</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Drafts</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Spam</a>
                      <a class="dropdown-item" href="#">Trash</a>
                      <a class="dropdown-item" href="#">Important</a>
                    </div>
                </li>
                
            </ul> 
            
        </div>
        <div class="main_content">
            <div class = "cards">
                <div class="d-flex flex-row justify-content-center flex-wrap">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Zomato Originals</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Your party snacks just got upgraded</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Feb 4</p>
                          <button type="button" class="btn btn-outline-danger btn-sm">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
               
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Zoomcar</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Regarding your recent enquiry</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Feb 3</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Coursera</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Learn about what ASU offers</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Feb 2</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Estatement</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Bank Estatement</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Feb 1</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Firebase</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Welcome to Firebase</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Jan 31</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Sony Liv</h5>
                          <h6 class="card-subtitle mb-2 text-muted">A chance to be world no. 1 </h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Jan 30</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Quora</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Do you know the answer to this question?</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Jan 29</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Abhishek</h5>
                          <h6 class="card-subtitle mb-2 text-muted">no subject</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Jan 28</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title">Boss</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Submission Deadline</h6>
                          <p class="card-text">Some quick example text to build on email and make up the bulk of the email's content.. <a href="#">Read More</a></p>
                          <p>Jan 27</p>
                          <button type="button" class="btn btn-outline-danger btn-sm m-2">Delete</button>
                          <button type="button" class="btn btn-outline-warning btn-sm">Archive</button>
                        </div>
                    </div>
                </div>
            </div>
                
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>